* {
    box-sizing: border-box;
}

.results-container {
    color: #FFF;
}

uL {
    padding-left: 0;
}

.result-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFF;
    max-width: 400px;
}

#empty-result {
    color: #fff;
}

.search-main {
    margin-left: auto;
    margin-right: auto;
}

#search-input {
    font-size: 18px;
    border-radius: 22px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 44px;
    width: 400px;
    max-width: 584px;
    opacity: 1;
    padding-inline-start: 20px;
}

#search-icon {
    font-size: 28px;
    color: #FFF;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

@media screen and (max-width: 600px) {
    #search-input {
        font-size: 13px;
        border-radius: 22px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        height: 36px;
        width: 50%;
        opacity: 1;
        padding-inline-start: 10px;
    }
    
    #search-icon {
        font-size: 22px;
        color: #FFF;
        margin-right: 10px;
        position: relative;
        top: 5px;
    }
  }